.header{
    height: 50px;
    border-bottom: 1px solid #ccc;
    padding-left: 150px;
    padding-right: 150px;
    box-sizing: border-box;
}
#header-camera{
    float: right;
    height: 100%;
}
#header-logo{
    height: 100%;
}

.post-container{
    width: 30%;
    min-height: 250px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin: 25px auto;

}


.img {
    display: flex;
    width: 253px;
}
.post-container .top .name{
    font-weight: bolder;
}
.post-container .top .location{
    font-size: small;
    color: rgb(147, 145, 145);
}
.post-container .top{
    padding: 10px;
    box-sizing: border-box;
}
.post-container .top .menu{
    float: right;   
    display: flex;
    cursor: pointer;
}
.post-container .top .menu .dot{
    width: 6px;
    height: 5px;
    color: black;
    background-color: black;
    border-radius: 50%;
    margin-right: 2px;
}

.post-container .imgSection img{
    width: 100%;
}       

.like-share .date{
    float: right;
    margin-right: 10px;
}
.like-share img{
    height: 20px;
    margin-left: 4px;
    cursor: pointer;
}
.like-share .like{
    font-weight: normal;
    font-size: small;
    margin-left: 10px;
    color: rgb(147, 145, 145);
}
.like-share .date{
    font-weight: normal;
    font-size: small;
    margin-left: 10px;
    color: rgb(147, 145, 145);
}

.description{
    padding: 10px;
    box-sizing: border-box;
    font-weight: bolder;
}


/* landing page  */

.landing-page{
    display: flex;
    
}

.landing-page .image{
    height: 80%;
    width: 50%;
    margin: auto;
    
}
.landing-page .image img{
    width: 50%;
}

.click-button{
    margin: 15% auto;

}
.click-button .button{
    text-align: center;
}
.click-button .button button{
    width: 70px;
    height: 30px;
    border: 5px solid green;
    border-radius: 10px;
}
.click-button span{

    color: green;
    font-weight: 500;
    font-size: 50px;

}
.navbar {
    background-color: #333;
    overflow: hidden;
  }
  
  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar li {
    float: left;
  }
  
  .navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .navbar li a:hover {
    background-color: #111;
  }
  #post-main-container{
    height: 100vh;
    width: 100vw;
    border: 10px solid gray;
    margin: auto;
    text-align: center;
  }
  .details > input{
    column-gap: 50px;
  }
  .landing-home{
    margin-bottom: 10px;
  }